<%- include('header') %>
    <section class="py-5">
        <div class="container">
            <!-- collection title -->
            <div class=" text-center mb-0" style=" margin-top: 5rem!important;">
                <h2 class="position-relative d-inline-block">
                    <%= collectionname.collection_name %>
                </h2>
            </div>
            <!--end collection title -->

            <!-- records -->
            <div class="mt-4 row gx-0 gy-3">
                <% collectiondata.forEach((collection)=> { %>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                        <a href="/record?rid=<%=collection.vinyl_id%>" class="text-decoration-none">
                            <div class="position-relative">
                                <img src=" <%= collection.img_url %>" class="mx-auto d-block"
                                    style="width: 200px; height: 200px;">
                                <div class="text-center py-1">
                                    <p class="position-relative text-capitalize d-inline-block text-secondary">
                                        <%= collection.album_name %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
            <!-- end records -->
        </div>
    </section>
    <%- include ('footer') %>